<%- include ('templates/header.ejs') %>
<%- include ('templates/nav.ejs') %>


<main>
    <h1>Contacto</h1>

    <%- include ('templates/formularioContacto.ejs') %>
</main>

<%- include ('templates/footer.ejs') %>


