<%- include ('templates/header.ejs') %>
<%- include ('templates/nav.ejs') %>


<main>
    <h1>Cursos</h1>
    <p id="pMain">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nesciunt cumque ab illum eveniet. Quibusdam vel incidunt tempora inventore minus, fugit eligendi maxime aspernatur atque? Perferendis quibusdam suscipit nemo, impedit accusamus esse libero. Odit asperiores sit, fugiat aut ipsa minus mollitia amet exercitationem perferendis a accusamus! Non veritatis iusto quas in, suscipit, vero tenetur saepe maiores assumenda sit distinctio animi ea voluptas! Natus voluptatibus fuga nemo, ut molestiae sequi quo voluptatem quod corporis placeat dolor sed voluptatum asperiores, odio commodi eius? Adipisci debitis suscipit sapiente praesentium tempora illum unde dignissimos architecto rem, vitae perferendis a consequuntur ex recusandae quasi omnis.</p>

    <%- include('templates/divImgCursos.ejs') %>
</main>

<%- include ('templates/footer.ejs') %>