<%- include ('templates/header.ejs') %>
<%- include ('templates/nav.ejs') %>

<main>
    <h1>Bienvenidos a nuestra escuela</h1>
    
    <p id="pMain">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci laborum consequuntur reiciendis saepe iusto nulla facilis dignissimos fuga nam deserunt quae, deleniti excepturi molestias voluptates veniam consectetur dolorem tempora maxime blanditiis sed! Architecto et voluptatem aut reprehenderit alias, culpa officiis distinctio perferendis ea, consectetur earum! Asperiores suscipit ullam sunt, laboriosam ab iure facere culpa a quas, voluptate nostrum quam architecto quasi eius quidem perferendis molestias laudantium beatae minus quae. Fuga hic vel non nulla animi neque amet quisquam impedit distinctio sequi odit nihil reprehenderit quo, ad tenetur quidem a nisi magnam assumenda odio illo id dignissimos ratione. Nisi, amet praesentium!</p>

    <%- include('templates/divImgPrincipal.ejs') %>
    
</main>

<%- include ('templates/footer.ejs') %>