<%- include ('templates/header.ejs') %>
<%- include ('templates/nav.ejs') %>


<main>
    <h1>Profesores</h1>
    <p id="pMain">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, laudantium nam sapiente praesentium quam sint voluptates, perferendis tenetur neque commodi, soluta reprehenderit. Labore asperiores, iusto libero nihil numquam fuga. Accusantium accusamus ipsum architecto et! Omnis suscipit impedit alias, placeat delectus similique quo repellendus mollitia fugit, iusto numquam praesentium! Necessitatibus maiores porro quos delectus neque libero a sed voluptas, rem illum est eaque odio tempore minima consequuntur, molestias eligendi eius ex ratione provident accusamus voluptatibus temporibus? Tempora, laborum ullam. Esse, numquam? Explicabo blanditiis et minus hic cupiditate. Ratione ipsam aliquid reprehenderit. Assumenda, consequuntur. Praesentium perspiciatis ut eum ex sunt, et tempora.</p>

    <%- include('templates/divImgProf.ejs') %>
</main>

<%- include ('templates/footer.ejs') %>