<section class="flexContainer">
    <div class="item">
        <figure>
            <h3>Ms. Massiel</h3>
            <div><img src="assets/profe1.jpg" alt="profe1"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
        </figure>
    </div>
    
    <div class="item">
        <figure>
            <h3>Mr. Gafitas</h3>
            <div><img src="assets/profe2.jpg" alt="profe2"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
        </figure>
    </div>
    
    <div class="item">
        <figure>
            <h3>Mr. Webo</h3>
            <div><img src="assets/profe3.jpg" alt="profe3"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
        </figure>
    </div>
    
    <div class="item">
        <figure>
            <h3>Mr. Reneh</h3>
            <div><img src="assets/profe4.jpg" alt="profe4"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
        </figure>
    </div>
    
    <div class="item">
        <figure>
            <h3>Mrs. Cat</h3>
            <div><img src="assets/profe5.jpg" alt="profe5"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
        </figure>
    </div>
    
    <div class="item">
        <figure>
            <h3>Ms. Miss</h3>
            <div><img src="assets/profe6.jpg" alt="profe6"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
        </figure>
    </div>
    </section>