<div >
    <figure>
        <div class="imgPrincipal"><img src="assets/principal.jpg" alt="principal"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat modi suscipit ad voluptas, tempora maiores perferendis est laboriosam assumenda, consectetur expedita corrupti architecto ullam. Quia repellendus velit dolorum laboriosam quas. Eveniet molestias labore quas voluptatum veniam quisquam vel adipisci odit!</p>
    </figure>
</div>