<section class="flexContainer">
<div class="item" id="container">
    <figure>
        <h3>Aula</h3>
        <div><img src="assets/instalaciones1.jpg" alt="inst1"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
    </figure>
</div>

<div class="item" id="container">
    <figure>
        <h3>Cafetería</h3>
        <div><img src="assets/instalaciones2.jpg" alt="inst2"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
    </figure>
</div>

<div class="item" id="container">
    <figure>
        <h3>Teatro</h3>
        <div><img src="assets/instalaciones3.jpg" alt="inst3"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
    </figure>
</div>

<div class="item" id="container">
    <figure>
        <h3>Instalaciones Deportivas</h3>
        <div><img src="assets/instalaciones4.jpg" alt="inst4"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
    </figure>
</div>

<div class="item" id="container">
    <figure>
        <h3>Biblioteca</h3>
        <div><img src="assets/instalaciones5.jpg" alt="inst5"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
    </figure>
</div>

<div class="item" id="container">
    <figure>
        <h3>Laboratorio</h3>
        <div><img src="assets/instalaciones6.jpg" alt="inst6"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
    </figure>
</div>
</section>