<section class="flexContainer">
    <div class="item">
        <figure>
            <h3>Ciencias Sociales</h3>
            <div><img src="assets/curso1.jpg" alt="curso1"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
        </figure>
    </div>
    
    <div class="item">
        <figure>
            <h3>Programación</h3>
            <div><img src="assets/curso2.jpg" alt="curso2"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
        </figure>
    </div>
    
    <div class="item">
        <figure>
            <h3>Filosofía</h3>
            <div><img src="assets/curso3.jpg" alt="curso3"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
        </figure>
    </div>
    
    <div class="item">
        <figure>
            <h3>Geografía</h3>
            <div><img src="assets/curso4.jpg" alt="curso4"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
        </figure>
    </div>
    
    <div class="item">
        <figure>
            <h3>Biología</h3>
            <div><img src="assets/curso5.jpg" alt="curso5"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
        </figure>
    </div>
    
    <div class="item">
        <figure>
            <h3>Matemática</h3>
            <div><img src="assets/curso6.jpg" alt="curso6"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iusto.</p>
        </figure>
    </div>
    </section>