<div class="form">
    <form action="">
        <div class="row">
            <div class="col">
                <label for="nombre">Nombre: </label>
                <input class="control" type="text" name="" id="nombre">
            </div>
            <div class="col">
                <label for="apellido">Apellido: </label>
                <input class="control" type="text" name="" id="apellido">
            </div>
            <div class="col">
                <label for="email">Email: </label>
                <input class="control" type="email" name="" id="email">
            </div>
            <div class="col">
                <label for="telefono">Teléfono: </label>
                <input class="control" type="number" name="" id="telefono">
            </div>
            <div class="mensaje">
                <label for="mensaje">Mensaje: </label>
                <textarea class="control" name="" id="mensaje" cols="30" rows="10"></textarea>
            </div>
            <div class="col">
                <button class="btn" type="submit">Enviar</button>
            </div>
        </div>
    </form>
</div>